<head>
  <style> body { margin: 0; } </style>
  <script src="//unpkg.com/three"></script>
  <script src="//unpkg.com/three-spritetext"></script>
  <script src="//unpkg.com/3d-force-graph"></script>

  <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
  <div id="3d-graph"></div>

  <script>
    // import { TrackballControls } from './jsm/controls/TrackballControls.js';
    // import { CSS3DRenderer, CSS3DObject } from './jsm/renderers/CSS3DRenderer.js';
    const elem = document.getElementById('3d-graph');

    const Graph = ForceGraph3D({controlType: 'fly'})
      (elem)
        .graphData(JSON.parse('{{ force_g_data | tojson | safe }}'))
        .nodeLabel('id')
        .nodeAutoColorBy('group')
        .nodeThreeObject(node => {
              const obj = new THREE.Mesh(
                new THREE.SphereGeometry(15),
                new THREE.MeshBasicMaterial({ depthWrite: false, transparent: true, opacity: .1 })
              );

              // add text sprite as child
              const sprite = new SpriteText(node.title);
              sprite.color = node.color;
              sprite.textHeight = 8;
              obj.add(sprite);
              return obj})
        .nodeLabel(node => {
          var w = 900;
          var h = 700;
          var url = node.id;
          return '<iframe src="' + url + '" width="' + w + '" height="' + h + '">';
        })
        .onNodeClick(node => {
           window.open(
              node.id, "_blank");
        })
        // .onNodeDrag(node => {
        //    window.open(
        //       node.id, "_blank");
        // });
        console.log(Graph.renderer().state);
        // Spread nodes a little wider
        Graph.d3Force('charge').strength(-115);
        Graph.d3Force('link').distance(300);
        // THREE.FlyControls(Graph.camera(), elem)

  </script>
</body>