<head>
  <style> body { margin: 0; } </style>
  <script src="//unpkg.com/three"></script>
  <script src="//unpkg.com/three-spritetext"></script>
  <script src="//unpkg.com/3d-force-graph"></script>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


  <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
  <div id="3d-graph"></div>

  <script>
    const elem = document.getElementById('3d-graph');

    var json_data = {{ force_g_data | tojson | safe }};
    var json_data = JSON.parse(json_data);
    const Graph = ForceGraph3D({controlType: 'fly'})
      (elem)
        .graphData(json_data)
        .nodeLabel('id')
        .nodeAutoColorBy('group')
        .nodeThreeObject(node => {
              const obj = new THREE.Mesh(
                new THREE.SphereGeometry(15),
                new THREE.MeshBasicMaterial({ depthWrite: false, transparent: true, opacity: .1 })
              );

              // add text sprite as child
              const sprite = new SpriteText(node.title);
              sprite.color = node.color;
              sprite.textHeight = 8;
              obj.add(sprite);
              return obj})
        .nodeLabel(node => {
          return label(node);
        })
        .onNodeClick(node => {
           window.open(
              node.id, "_blank");
        });
        console.log(Graph.renderer().state);
        // Spread nodes a little wider
        Graph.d3Force('charge').strength(-115);
        Graph.d3Force('link').distance(250);


    function label(node) {
          var w = 900;
          var h = 700;
          var url = node.id;
          return '<iframe style="visibility:hidden;" onload="this.style.visibility = \'visible\';" src="' +
                  url + '" width="' + w + '" height="' + h + '">';
    }

    escape = function (str) {
      return str
          .replace(/[\\]/g, '\\\\')
          .replace(/[\"]/g, '\\\"')
          .replace(/[\/]/g, '\\/')
          .replace(/[\b]/g, '\\b')
          .replace(/[\f]/g, '\\f')
          .replace(/[\n]/g, '\\n')
          .replace(/[\r]/g, '\\r')
          .replace(/[\t]/g, '\\t');
    };
  </script>
</body>