<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/card.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
</head>
<body style="background-color: rgba(255,255,255,0.33)">
<div class="topnav">
    <a class="active" href='{{ url_for('index') }}'> Home</a>
    <a href='{{ url_for('about') }}'> About </a>
<!--    <a href='https://www.youtube.com/watch?v=XcHnOtKObT8' target="_blank"> Tutorial</a>-->
    <a href='{{ url_for('examples') }}'> Examples </a>
    <a href='{{ url_for('contact') }}'> Contact </a>
</div>
<div align="center" style="background-image: url('{{url_for('static', filename='images/background.png')}}')">
    <h1> Examples </h1>
    Click on an example to "surf" it
    <div>
        {% for example in examples %}
            <a href={{url_for('load_graph', url=example.name)}} style="text-decoration: none">

                <div class="card" style="width: 700px">
                    <div class="optional-header" align="left">
                        <div class="primary-title">
                            <div class="title">
                               {{example.name}}
                            </div>
                        </div>
                    </div>
                    <div class="media"> <img src={{example.img_url}} width="700"> </div>
                    <div class="primary-text"> <br> </div>
                 </div>
            </a>
        {% endfor %}
    </div>
</div>
</body>